* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    font-size: 13px;
    letter-spacing: 1.5px;

    background-color: #25072e;
    background-image: url("img/background.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.content-section__header {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4.5px;
    color: #ec008c;
}

.screen-reader-only {
    color: transparent;
}


/* HEADER & FOOTER */
.page-header {
    position: fixed;
        top: 10px;
        left: 20px;

    /* background: yellow; */
}

.page-navigation__item {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 6.7px;
    color: #ec008c;
    text-decoration: none;
}

.page-footer {
    position: fixed;
        bottom: 10px;
/* 
    background: yellow; */
}


/* MAIN */

.page-content {
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: 220px;
    padding: 0 10%;
    text-align: right;

    /* background: black; */
}

.content-section {
    min-height: 100vh;
    padding-right: 5%;

    /* background: red; */
}

.content-section__header {
    text-transform: uppercase;
    text-align: right;
    padding-top: 75px;
}


/* BAND MEMBERS */
.band-members {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;

    /* background: blue; */
}

.band-members__item { 
    min-width: 200px;

    text-align: left;

    font-size: 13px;

    line-height: 3px;
    
    
    letter-spacing: 1.5px;
    color: #ccc8ff;
    text-decoration: none;

    /* background-color:purple; */
}

.band-members__name {
    text-transform: uppercase;
    font-weight: bold;
}

.band-members__desc {
    color: rgba(204, 200, 255, 0.5);
}




/* ABOUT */
.about-section__img {
    float: right;
    width: 60%;
    min-width: 200px;

    border-top: 3px solid #ec008c;
}

.about-section__desc {
    position: relative;
        left: 25%;
    margin-top: 30%;
    margin-right: 5%;
    width: 30%;
    min-width: 200px;
    
    background: #25072e;
    border-bottom: 3px solid #ec008c;
}

.about-section__desc-header {
    display: flex;
    flex-wrap: wrap;

    text-align: left;

    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.8px;
    color: #ccc8ff;
    text-decoration: none;
}

.about-section__desc-text{
    font-size: 13px;
    letter-spacing: 1.5px;
    color: rgba(204, 200, 255, 0.5);
    text-decoration: none;

    text-align: left;
}


/* CONCERTS */
.concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 20%; 

    /* background: blue; */
}

.concerts__item {
    width: 30%;
    margin: 10px 0px 20px 40px;
    min-width: 200px;

    position: relative;
    /* background: #ebebeb; */
    /* width: 400px; */
}

.concerts__image {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #ec008c;
}

.concerts__info {
    margin: 0px;



    position: relative;

    line-height: 3px;

    /* background-color: pink; */
    margin-right: 30%;
}

.concerts__date {
    /* float: left; */
    display: block;


    text-align: left;

 
    font-size: 13px;
    
    
    letter-spacing: 1.5px;
    color: #ccc8ff;
    text-decoration: none;
}

.concerts__location {
    /* float: left; */
    display: block;

    text-align: left;

 
    font-size: 13px;
    
    
    letter-spacing: 1.5px;
    color: rgba(204, 200, 255, 0.5);
}

.button {
    /* float: right;
    position: relative;
        top: -75px; */

        position: absolute;
        top: 50%;  /* Górna krawędź .concert2__action ustawi się od góry .concert2 o 50% jego wysokości */
        right: 20px;
        transform: translateY(-50%) translateX(100%); /* Przesuwamy .concert2__action o połowę wysokości w górę, żeby to środek .concert2__action był wyśrodkowany, a nie jego górna krawędź */

    font-weight:350;
    font-size: 12px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #ccc8ff;
    background-color: rgba(204, 200, 255, 0.1);

    border-radius: 5px;
    border-color: transparent;

}


/* VIDEO */
iframe {
    position: relative;
    float: right;
    margin-top: 30px;
    width: 70%;
    /* background: green; */
    border-top: 3px solid #ec008c;
}


/* PHOTOS */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: 20%;
    padding-bottom: 5%;
    
    /* background: blue; */
}

.gallery__item {
    width: 30%; 
    min-width: 200px;
    margin: 15px 0px 0px 15px;
}

.gallery__image {
    width: 100%; 
    border-top: 3px solid #ec008c;
}


/* CONTACT */
.contact-details {
    padding-left: 20%;
    margin-top: 150px;

    font-size: 13px;
    letter-spacing: 1.5px;
    color: rgba(204, 200, 255, 0.5);
    text-decoration: none;

    text-align: left;
    font-style: normal;

    /* background: blue; */
}

.contact-image {
    margin-left: 20%;
    margin-right: 75px;
    float: left;
    width: 40%;
    min-width: 200px;

}

.form {
    width: 20%;
    position: relative;
        left: 20%;
    margin-top: 15%;
/* 
    background: purple; */
}

.form__field {
    margin: 10px 0;
    position: relative;
}

.form__input {
    display: block;
    border: 0px;
    border-radius: 5px;
    padding: 5px 15px;
}

.form__label {
    display: block;

    font-size: 13px;
    letter-spacing: 1.5px;
    color: rgba(204, 200, 255, 0.5);
    text-decoration: none;

    text-align: left;
}

.form__button {
    font-weight:350;
    font-size: 12px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #ccc8ff;
    background-color: rgba(204, 200, 255, 0.1);

    border-radius: 5px;
    border-color: transparent;

    display: block;
    position: absolute;
    left: 0;
    top: 10px;

}
