body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: orange;
}


/* HEADER & FOOTER */
.page-header {
    position: fixed;
        top: 10px;
        left: 20px;

    background: yellow;
    }

.page-navigation__items {
    list-style-type: none;
}

.page-footer {
    position: fixed;
        bottom: 10px;

    background: yellow;
}

.social-links__item {
    list-style-type: none
}


/* MAIN */
.screen-reader-only {
    color: transparent
}

.page-content {
    margin-top: -20px;
    margin-left: 180px;

    background: black;
}

.content-section {
    min-height: 100vh;
    padding-right: 5%;

    background: red;
}

.content-section__header {
    text-transform: uppercase;
    text-align: right;
    padding-top: 75px;
}


/* BAND MEMBERS */
.band-members {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;

    background: blue;
}

.band-members__item { 
    min-width: 200px;

    background-color:purple;
}


/* ABOUT */
.about-section__img {
    float: right;
    width: 60%;
    min-width: 200px;

    border-top: 3px solid blue;
}

.about-section__desc {
    position: relative;
        left: 25%;
    margin-top: 30%;
    margin-right: 5%;
    width: 20%;
    min-width: 300px;
    
    background: green;
    border-bottom: 3px solid blue;
}

.about-section__desc-header{
    display: flex;
    flex-wrap: wrap;
}
