body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: orange;
}

.screen-reader-only {
    color: transparent
}

/* HEADER & FOOTER */
.page-header {
    position: fixed;
        top: 10px;
        left: 20px;

    background: yellow;
    }

.page-navigation__items {
    list-style-type: none;
}

.page-footer {
    position: fixed;
        bottom: 10px;

    background: yellow;
}

.social-links__item {
    list-style-type: none
}
/* MAIN */

.page-content {
    position: relative;
        left: 200px;
    width: 70%;
    overflow: hidden;
}

.content-section {
    min-height: 100vh; 
    background: red
}

/* BAND MEMBERS */

.band-members {
    list-style-type: none;
    box-sizing: border-box;
        width: 100%;
        height: 500px;
    background-color: blue;
    position: relative;
        top: 250px
}

.band-members__item { 
    float:left;
        width:22%;
        background-color:purple;
        margin: 1%
}

.band-members__image {
    text-align: center
}