* {
    box-sizing: border-box;
}

body {
    width: 100%;

    margin: 0;
    padding: 0;

    background-image: url('./images/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #25072e;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


/* TEXT STYLE */

body {
    color: rgba(204, 200, 255, 0.8);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
}

a {
    color: #EF008E;
    text-decoration: none;
}


/* BUTTON STYLE */

.button {
    padding: 7px 15px;
    border-radius: 3px;
    background-color: rgba(204, 200, 255, 0.1);
    border-color: rgba(204, 200, 255, 0.1);

    color: rgba(204, 200, 255, 0.8);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    cursor: pointer;
}


/* FORM STYLE */

.form__field {
    margin-bottom: 10px;
}

.form__label {
    display: block;
    margin-bottom: 9px;
}

.form__input {
    display: block;
    height: 35px;
    width: 300px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgba(219, 216, 251, 0.1);
}


/* PAGE LAYOUT */

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.page-content {
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: 220px;
    padding: 0 10%;
}


/* NAVIGATION */

.page-navigation__items {
    padding-top: 15px;
}

.page-navitagion__item a {
    color: rgba(239, 0, 142, 0.6);
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 6.7px;
}


/* SOCIAL MEDIA */

.social-links__item + .social-links__item {
    margin-top: 15px;
}

.social-links__item img {
    width: 20px;
    height: 20px;
}


/* CONTENT STYLE */

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;
    padding-right: 5%;
}

.content-section__header {
    margin-bottom: 60px;
    color: #EF008E;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}

.content-section__body {
    flex-grow: 1;
}


/* SECTION MAIN */

.content-section.home-section {
    align-items: center;
}

.band-members {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;

}

.band-members__name,
.band-members__desc {
    display: none;
}

.band-members__item { 
    min-width: 200px;
    text-align: left;
}
    
/* SECTION ABOUT  */

.about {
    position: relative;
    margin-left: 290px;
    margin-bottom: 115px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about__image {
    max-width: 100%;
    min-width: 200px;
    border-top: 3px solid #EF008E;
}

.about__desc-header {
    margin-bottom: 30px;
    color: #CCC8FF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__desc {
    position: absolute;
    left: -290px;
    bottom: -115px;
    width: 380px;
    padding: 30px;
    background-color: #25072e;
    border-bottom: 3px solid #EF008E;
}


/* SECTION CONCERTS */

.concerts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}

.concerts__item {
    flex-basis: 50%;
    padding: 0 0 45px 55px;
}

.concerts__image {
    max-width: 100%;
    border-bottom: 3px solid #EF008E;
}

.concerts__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.concerts__info-base {
    flex-grow: 1;
}

.concerts__date {
    margin: 0;
    color: #CCC8FF;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3.8px;
}

.concerts__location {
    margin: 0;
    letter-spacing: 3.8px;
}


/* SECTION VIDEO */

iframe {
        width: 85%;
        height: 70vh;
    
    border-top: 3px solid #ec008c;
}


/* SECTION PHOTOS */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: 20%;
    padding-bottom: 5%;
}

.gallery__item {
    width: 30%; 
    min-width: 200px;
    margin: 15px 0px 0px 15px;
}

.gallery__image {
    width: 100%; 
    border-top: 3px solid #ec008c;
}


/* SECTION CONTACT */

.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contact__image img {
    max-width: 100%;
}

.contact__address {
    padding: 70px;
    font-style: normal;
}

.contact__form {
    flex-basis: 50%;
    padding-top: 40px;
}

.contact__form .button {
    margin-top: 20px;
}



