body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: orange;
}


/* HEADER & FOOTER */
.page-header {
    position: fixed;
        top: 10px;
        left: 20px;

    background: yellow;
    }

.page-navigation__items {
    list-style-type: none;
}

.page-footer {
    position: fixed;
        bottom: 10px;

    background: yellow;
}

.social-links__item {
    list-style-type: none
}


/* MAIN */
.screen-reader-only {
    color: transparent
}

.page-content {
    margin-top: -20px;
    margin-left: 180px;

    background: black;
}

.content-section {
    min-height: 100vh;
    padding-right: 5%;

    background: red;
}

.content-section__header {
    text-transform: uppercase;
    text-align: right;
    padding-top: 75px;
}


/* BAND MEMBERS */
.band-members {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;

    background: blue;
}

.band-members__item { 
    min-width: 200px;

    background-color:purple;
}


/* ABOUT */
.about-section__img {
    float: right;
    width: 60%;
    min-width: 200px;

    border-top: 3px solid blue;
}

.about-section__desc {
    position: relative;
        left: 25%;
    margin-top: 30%;
    margin-right: 5%;
    width: 20%;
    min-width: 300px;
    
    background: green;
    border-bottom: 3px solid blue;
}

.about-section__desc-header{
    display: flex;
    flex-wrap: wrap;
}


/* CONCERTS */
.concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 20%; 

    background: blue;
}

.concerts__item {
    width: 30%;
    margin: 10px 0px 20px 40px;
    min-width: 200px

}

.concerts__image {
    width: 100%;
    height: auto;
    border-bottom: 3px solid yellow;
}

.button {
    position: relative;
}


/* VIDEO */
iframe {
    position: relative;
    float: right;
    margin-top: 30px;
    width: 70%;
    background: green;
    border-top: 3px solid yellow;
}


/* PHOTOS */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: 20%;
    padding-bottom: 5%;
    background: blue;
}

.gallery__item {
    width: 30%; 
    min-width: 200px;
    margin: 15px 0px 0px 15px;
}

.gallery__image {
    width: 100%; 
    border-top: 3px solid yellow;
}


/* CONTACT */
/* .contact-image-details-form{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* margin-left: 20%;
    background: blue;
} */


.contact-details {
    position: relative;
        left: 30px;
}

.contact-image {
    margin-left: 20%;
    float: left;
    width: 40%;
    min-width: 200px;

}

.form {
    float: right;
    margin-right: 10vw;
    margin-top: 200px;
    font-style: normal;
}

.form__field {
    margin: 10px 0;
}

.form__input {
    border: 0px;
    border-radius: 5px;
    padding: 5px 15px;
}
