* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
    
    background: orange;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.screen-reader-only {
    color: transparent;
}


/* HEADER & FOOTER */
.page-header {
    position: fixed;
        top: 10px;
        left: 20px;

    background: yellow;
}

.page-footer {
    position: fixed;
        bottom: 10px;

    background: yellow;
}


/* MAIN */

.page-content {
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: 220px;
    padding: 0 10%;
    text-align: right;

    background: black;
}

.content-section {
    min-height: 100vh;
    padding-right: 5%;

    background: red;
}

.content-section__header {
    text-transform: uppercase;
    text-align: right;
    padding-top: 75px;
}


/* BAND MEMBERS */
.band-members {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;

    background: blue;
}

.band-members__item { 
    min-width: 200px;

    background-color:purple;
}


/* ABOUT */
.about-section__img {
    float: right;
    width: 60%;
    min-width: 200px;

    border-top: 3px solid blue;
}

.about-section__desc {
    position: relative;
        left: 25%;
    margin-top: 30%;
    margin-right: 5%;
    width: 30%;
    min-width: 200px;
    
    background: green;
    border-bottom: 3px solid blue;
}

.about-section__desc-header{
    display: flex;
    flex-wrap: wrap;
}


/* CONCERTS */
.concerts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 20%; 

    background: blue;
}

.concerts__item {
    width: 30%;
    margin: 10px 0px 20px 40px;
    min-width: 200px;
}

.concerts__image {
    width: 100%;
    height: auto;
    border-bottom: 3px solid yellow;
}

.concerts__info {
    margin: 0px;
}

.concerts__date {
    float: left;
}

.concerts__location {
    float: left;
}

.button {
    float: right;
    position: relative;
        top: -75px;
}


/* VIDEO */
iframe {
    position: relative;
    float: right;
    margin-top: 30px;
    width: 70%;
    background: green;
    border-top: 3px solid yellow;
}


/* PHOTOS */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: 20%;
    padding-bottom: 5%;
    
    background: blue;
}

.gallery__item {
    width: 30%; 
    min-width: 200px;
    margin: 15px 0px 0px 15px;
}

.gallery__image {
    width: 100%; 
    border-top: 3px solid yellow;
}


/* CONTACT */
.contact-details {
    padding-left: 20%;
    margin-top: 150px;

    background: blue;
}

.contact-image {
    margin-left: 20%;
    margin-right: 75px;
    float: left;
    width: 40%;
    min-width: 200px;

}

.form {
    width: 20%;
    position: relative;
        left: 20%;
    margin-top: 15%;

    background: purple;
}

.form__field {
    margin: 10px 0;
}

.form__input {
    display: block;
    border: 0px;
    border-radius: 5px;
    padding: 5px 15px;
}

.form__label {
    display: block;
}
